//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0px;
  min-width: rem(240);
  width: max-content;
  height: rem(56);

  font-weight: 600;
  font-size: rem(16);
  line-height: 250%; /* 40/16 */
  color: #fff;
  background-color: #000000;
  transition: all 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.9;
    }
  }
  &._fw {
    width: 100%;
  }

  &_blue {
    background-color: #4361ee;
  }
}
