//========================================================================================================================================================

.page {
  &__product {
  }
}
.product {
  @include adaptiveValue("padding-top", 93, 0);
  @include adaptiveValue("padding-bottom", 75, 30);
  &__container {
  }

  &__body {
  }

  &__main {
  }
}
.main-product {
  display: flex;
  gap: rem(100);

  @include adaptiveValue("gap", 100, 15, 1400, 1300, 1);

  @media (max-width: em(1250)) {
    flex-direction: column;
  }

  &__sliders {
    display: grid;
    grid-template-columns: rem(140) rem(595);
    gap: rem(10);

    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  &__pagination {
    position: absolute;
    bottom: rem(13);
    left: rem(20);

    @media (min-width: $mobile) {
      display: none;
    }
  }

  &__trumb-slider {
    min-height: 0;
    max-height: 595px;

    @media (max-width: $mobile) {
      display: none;
    }
  }
  &__trumb-wrapper {
  }
  &__trumb-slide {
  }
  &__slider {
    position: relative;
    min-width: 0;

    @media (max-width: $mobile) {
      margin: 0 -15px;
    }
  }
  &__slide {
  }
  &__content {
  }
}

.trumb-slide {
  position: relative;
  &._icon-play {
    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      font-size: rem(44);
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__image {
  }
}
.swiper-slide {
}
.main-product-slide {
  position: relative;
  &._icon-play {
    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      font-size: rem(100);
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;

      @media (max-width: $mobile) {
        font-size: rem(75);
      }
    }
  }
  &__image {
    @media (max-width: $mobile) {
      width: 100%;
      padding-bottom: 100%;
      position: relative;
    }

    & img {
      @media (max-width: $mobile) {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
  }
}
.content-main-product {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  &__name {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }

  &__title {
    font-weight: 500;
    font-size: rem(20);
    line-height: 120%; /* 24/20 */
    color: #363636;

    & small {
      @include adaptiveValue("font-size", 16, 14);
      line-height: 250%; /* 40/16 */
      color: #858585;
      margin-left: em(10, 16);

      @media (max-width: $mobile) {
        display: none;
      }
    }
  }

  &__share {
    width: rem(32);
    height: rem(32);
    @include adaptiveValue("width", 32, 24);
    @include adaptiveValue("height", 32, 24);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $mobile) {
      display: none;
    }

    &::before {
      font-size: rem(22);
      @include adaptiveValue("font-size", 22, 18);
      color: #000;
    }
  }

  &__rating {
    &:not(:last-child) {
      margin-bottom: rem(14);
    }

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__price {
  }
}

.price-main-product {
  @media (max-width: $mobile) {
    order: -1;
  }

  &:not(:last-child) {
    margin-bottom: rem(31);

    @media (max-width: $mobile) {
      margin-bottom: rem(15);
    }

    @media (max-width: $mobile) {
      margin-bottom: rem(15);
    }
  }
  &__current {
    font-weight: 700;
    font-size: rem(40);
    @include adaptiveValue("font-size", 40, 20);
    line-height: 122.5%; /* 49/40 */
    color: #000000;
    &:not(:last-child) {
      margin-bottom: rem(31);

      @media (max-width: $mobile) {
        margin-bottom: rem(7);
      }
    }
  }

  &__old {
    position: relative;
    width: max-content;
    font-weight: 600;
    @include adaptiveValue("font-size", 16, 14);
    line-height: 125%; /* 20/16 */
    color: #858585;

    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #ff0000;
      display: block;
      position: absolute;
      top: rem(7);
      left: 0;
      transform: rotate(-4deg);
    }
  }

  &__colors {
    &:not(:last-child) {
      margin-bottom: rem(31);

      @media (max-width: $mobile) {
        margin-bottom: rem(15);
      }
    }
  }

  &__title-colors {
    font-weight: 600;
    font-size: rem(16);
    line-height: 125%; /* 20/16 */
    color: #000000;

    &:not(:last-child) {
      margin-bottom: rem(31);

      @media (max-width: $mobile) {
        margin-bottom: rem(15);
      }
    }

    & span {
      margin-left: rem(18);
    }
  }

  &__sizes {
  }
  &__buttons {
  }
}

.sizes-main-product {
  &:not(:last-child) {
    margin-bottom: rem(31);

    @media (max-width: $mobile) {
      margin-bottom: rem(0);
    }
  }
  &__title {
    font-weight: 600;
    font-size: rem(16);
    line-height: 125%; /* 20/16 */
    color: #1a1e29;

    &:not(:last-child) {
      margin-bottom: rem(31);

      @media (max-width: $mobile) {
        margin-bottom: rem(15);
      }
    }
  }

  &__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(12);

    @include adaptiveValue("gap", 12, 6);

    &:not(:last-child) {
      margin-bottom: rem(31);

      @media (max-width: $mobile) {
        margin-bottom: rem(15);
      }
    }
  }

  &__btn {
    font-weight: 600;
    font-size: rem(16);
    line-height: 125%; /* 20/16 */
    text-decoration-line: underline;
    color: #017eb4;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #000;
      }
    }
  }
}
.checkbox {
  &__input {
  }

  &__label {
  }

  &__text {
  }
}
.buttons-main-product {
  margin-top: auto;
  @media (max-width: $mobile) {
    order: -1;
    margin-bottom: rem(20);
  }
  &__main {
    display: flex;
    align-items: center;
    column-gap: rem(4);

    &.active {
      .buttons-main-product__card {
        display: none;
      }
      & .button_blue {
        display: flex;
      }
      & .buttons-main-product__quantity {
        display: flex;
      }

      @media (max-width: $mobile) {
        .buttons-main-product__favorite {
          display: none;
        }
      }
    }
  }

  &__card {
    flex: 1 1 100%;
    min-width: 0;

    @media (max-width: $mobile) {
      font-size: rem(14);
    }
  }

  &__favorite {
    background: #000000;
    height: rem(56);
    flex: 0 0 rem(56);

    &::before {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: rem(22);
      color: #fff;

      @media (max-width: $mobile) {
        font-size: rem(18);
      }
    }

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.9;
      }
    }
  }
  & .button_blue {
    display: none;
  }
  &__quantity {
    display: none;
    flex-shrink: 0;
    margin-right: rem(10);
    margin: 0px rem(15);
  }
}

//========================================================================================================================================================

.info-product {
  @include adaptiveValue("padding-bottom", 78, 30);

  &__reviews-form {
    @media (min-width: $mobile) {
      display: none;
    }

    .reviews-form__title {
      display: block;
    }
    .reviews-form__line_review {
      @include adaptiveValue("margin-top", 44, 8);
    }
  }
  &__container {
  }

  &__body {
    &_small {
      @media (min-width: $mobile) {
        max-width: rem(745);
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: rem(19);
    line-height: 131.6%; /* 25/19 */
    color: #000000;
    margin-top: rem(15);
    @include adaptiveValue("margin-bottom", 26, 20);
  }
  &__description {
  }

  &__size {
    margin-top: rem(30);
    margin-bottom: rem(30);

    & img {
      max-width: 100%;
    }
  }

  &__images {
    display: grid;
    gap: rem(15);

    & img {
      max-width: 100%;
    }
  }

  &__reviews {
    @include adaptiveValue("padding-top", 80, 30);
  }
}
.description-product {
  display: flex;
  flex-direction: column;
  &__title {
    @media (max-width: $mobile) {
      margin-bottom: 8px;
    }
  }

  &__content {
    font-weight: 400;
    font-size: rem(19);
    line-height: 131.6%; /* 25/19 */
    color: #858585;
  }

  &__more {
    font-weight: 400;
    font-size: rem(19);
    line-height: 131.6%; /* 25/19 */
    text-decoration-line: underline;
    color: #000000;

    margin-top: rem(6);
    margin-left: auto;

    @media (max-width: $mobile) {
      margin-left: 0;
      margin-right: auto;
    }
  }
}

.about-product {
  padding-bottom: rem(20);
  &__items {
    display: grid;
    grid-template-columns: max-content auto;
    @include adaptiveValue("column-gap", 60, 10);
    @include adaptiveValue("row-gap", 16, 10);

    font-weight: 400;
    @include adaptiveValue("font-size", 14, 12);
    line-height: 17px;
  }
  &__title {
    color: rgba(0, 0, 0, 0.5);
  }
  &__text {
    color: #000000;
  }
}

.reviews {
  &__title {
    font-weight: 700;
    font-size: rem(20);
    line-height: 120%; /* 24/20 */
    color: #000000;
    margin-top: rem(0);

    @include adaptiveValue("margin-bottom", 40, 30);
  }

  &__items {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 65, 25);
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }

  &__top {
  }

  &__bottom {
    font-weight: 500;
    font-size: rem(14);
    line-height: 121.4%; /* 17/14 */
    color: #000000;

    padding-bottom: rem(8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin-top: rem(8);
  }

  &__button {
    min-width: 425px;

    @media (max-width: $mobile) {
      width: 100%;
      min-width: 0;
    }
    @media (max-width: $mobile) {
      height: rem(40);
      font-size: rem(14);
      display: none;
    }
  }
}
.top-reviews {
  display: flex;
  column-gap: rem(6);
  &__image {
    width: 38px;
    height: 38px;
  }

  &__info {
  }

  &__name {
    font-weight: 500;
    font-size: rem(14);
    line-height: 121.4%; /* 17/14 */
    color: #000000;

    &:not(:last-child) {
      margin-bottom: rem(4);
    }
  }

  &__date {
    font-weight: 400;
    font-size: rem(12);
    line-height: 125%; /* 15/12 */
    color: #000000;
  }

  &__rating {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: rem(12);
    line-height: 125%; /* 15/12 */
    color: #000000;

    &::before {
      margin-right: rem(3);
      font-size: rem(14);
    }
  }
}

//========================================================================================================================================================
