// Заголовки, общие БЄМ блоки и проче...

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

  &::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }
}

//========================================================================================================================================================

.fancybox__container {
  max-width: none;
}

//========================================================================================================================================================

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  @include adaptiveValue("gap", 8, 4);
  .swiper-pagination-bullet {
    position: relative;
    cursor: pointer;
    @include adaptiveValue("width", 25, 10);
    @include adaptiveValue("height", 25, 10);

    border: 1px solid #ffffff;
    border-radius: 50%;
    transition: all 0.3s ease 0s;

    &::before {
      content: "";
      position: absolute;
      width: 140%;
      height: 140%;
      display: block;
      top: -20%;
      left: -20%;
    }
  }
  .swiper-pagination-bullet-active {
    background-color: #ffffff;
  }

  &_fraction {
    pointer-events: none;
    min-width: rem(76);
    width: max-content;
    height: rem(39);
    font-weight: 600;
    font-size: rem(16);
    line-height: 125%; /* 20/16 */

    color: #ffffff;
    background: rgba(41, 41, 41, 0.37);
  }
}

//========================================================================================================================================================

.breadcrumbs {
  white-space: nowrap;
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    font-style: normal;
    font-weight: 400;
    @include adaptiveValue("font-size", 20, 10);
    line-height: 200%; /* 40/20 */

    color: #858585;
  }

  &__link {
    font-family: "Montserrat";
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
        color: #000;
      }
    }

    &::after {
      content: "/";
    }
  }

  &__current {
  }
}

//========================================================================================================================================================

.pagging {
  display: flex;
  justify-content: center;
  &__list {
    display: flex;
    align-items: center;
    column-gap: rem(8);
  }

  &__item {
  }

  &__link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: rem(20);
    line-height: 125%; /* 25/20 */
    color: #8e8e8e;
    display: block;
    padding: 0 rem(3);

    @media (max-width: $mobile) {
      font-size: rem(17);
    }

    @media (any-hover: hover) {
      &:not(.active):hover {
        color: #000;
        text-decoration: underline;
      }
    }

    &.active {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      background: #000000;
      color: #fff;
      border-radius: 50%;

      @media (max-width: $mobile) {
        width: 28px;
        height: 28px;
      }
    }
  }
}
