.product-section {
  background: #eff0f6;
  &__container {
  }
  &__body {
    @include adaptiveValue("padding-top", 40, 25);
    @include adaptiveValue("padding-bottom", 60, 25);
  }
  &__top {
    display: flex;
    align-items: center;
    @include adaptiveValue("column-gap", 15, 8);

    @include adaptiveValue("margin-bottom", 60, 20);
  }

  &__title {
    font-weight: 600;
    @include adaptiveValue("font-size", 32, 16);
    line-height: 125%; /* 40/32 */
    color: #1a1e29;
  }

  &__link {
    font-weight: 600;
    @include adaptiveValue("font-size", 16, 8);
    line-height: 250%; /* 40/16 */
    color: #858585;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #000;
      }
    }
  }
}
.products-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(320), 1fr));
  gap: rem(16);

  @media (max-width: $mobile) {
    grid-template-columns: repeat(2, 1fr);
  }
  &__item {
  }
}
.item-product {
  display: grid;
  grid-template-rows: auto 1fr;
  background: #ffffff;
  &__image {
    display: block;
    position: relative;
    padding-bottom: percent(270, 320);

    @media (any-hover: hover) {
      &:hover {
        & .item-product__img_first {
          visibility: hidden;
          opacity: 0;
        }
        & .item-product__img_second {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: all 0.3s ease 0s;

    &_second {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__favotite {
    position: absolute;
    top: rem(11);
    right: rem(11);
    width: rem(32);
    height: rem(32);
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $mobile) {
      top: rem(5);
      right: rem(5);
    }

    @media (any-hover: hover) {
      &:hover {
        &::before {
          color: #000;
        }
      }
    }

    &::before {
      color: #ffffff;
      font-size: rem(22);
      transition: all 0.3s ease 0s;

      @media (max-width: $mobile) {
        font-size: rem(20);
      }
    }

    &.active {
      &::before {
        content: "\e914";
        color: #ff0000;
      }
    }
  }
  &__sale {
    font-weight: 600;
    font-size: rem(22);
    line-height: 122.7%; /* 27/22 */
    color: #ffffff;
    height: rem(36);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 rem(15);
    background: rgba(255, 0, 0, 0.37);

    position: absolute;
    right: rem(13);
    bottom: rem(13);

    @media (max-width: $mobile) {
      font-size: rem(15);
      padding: 0 rem(8);
      height: rem(25);
      bottom: rem(6);
      right: rem(6);
    }
  }

  &__content {
    padding: rem(5) rem(5) 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    font-weight: 400;
    font-size: rem(14);
    line-height: 121.4%; /* 17/14 */
    color: #858585;

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__price {
    margin-top: rem(12);
    margin-bottom: rem(12);

    @media (max-width: $mobile) {
      margin-top: rem(6);
      margin-bottom: rem(4);
    }
  }

  &__title {
    font-weight: 500;
    @include adaptiveValue("font-size", 24, 14);
    line-height: 120%; /* 24/20 */
    color: #363636;
    transition: all 0.3s ease 0s;
    margin-bottom: rem(6);

    @media (any-hover: hover) {
      &:hover {
        color: #000;
        text-decoration: underline;
      }
    }
  }

  &__colors {
    display: flex;
    align-items: center;
    gap: rem(4);
    margin-bottom: auto;
    @media (max-width: $mobile) {
      margin-top: rem(6);
    }
  }

  &__buttons {
    margin: 0 rem(-5);
    margin-top: rem(23);
    display: flex;
    gap: rem(4);

    @media (max-width: $mobile) {
      margin-top: rem(10);
      gap: rem(2);
    }

    & a {
      height: rem(56);
      width: 100%;
      min-width: 0;

      @media (max-width: $mobile) {
        height: rem(28);
        font-size: rem(10);
      }
    }
  }
  &__card-button {
    flex-shrink: 0;
    height: rem(56);
    width: rem(56);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    transition: all 0.3s ease 0s;
    &::before {
      color: #fff;
      @include adaptiveValue("font-size", 24, 16);
    }

    @media (max-width: $mobile) {
      height: rem(28);
      width: rem(28);
    }

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.9;
      }
    }
  }

  &_over {
    overflow: hidden;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: calc(100% - 56px);
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.1);
      z-index: 5;

      @media (max-width: $mobile) {
        height: calc(100% - 28px);
      }
    }
  }
  &__over {
    font-weight: 600;
    @include adaptiveValue("font-size", 20, 16);
    line-height: 120%; /* 24/20 */
    color: #ffffff;
    position: absolute;
    top: rem(135);
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    text-align: center;
  }
}
.price-product {
  display: flex;
  align-items: center;
  &__current {
    font-weight: 600;
    @include adaptiveValue("font-size", 23, 14);
    line-height: 121.7%; /* 28/23 */
    color: #017eb4;
  }

  &__old {
    position: relative;
    font-weight: 600;
    font-size: rem(14);
    line-height: 121.4%; /* 17/14 */
    color: #858585;
    margin-left: rem(7);

    @media (max-width: $mobile) {
      display: none;
    }

    &::after {
      content: "";
      width: 110%;
      height: 1px;
      background-color: #ff0000;
      display: block;
      position: absolute;
      top: rem(7);
      left: 0;
      transform: rotate(-4deg);
    }
  }
}
.colors-item {
  position: relative;
  width: rem(32);
  height: rem(32);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $mobile) {
    width: rem(22);
    height: rem(22);
  }

  & span {
    display: block;
    flex: 0 0 rem(28);
    height: rem(28);
    border-radius: 50%;

    @media (max-width: $mobile) {
      flex: 0 0 rem(18);
      height: rem(18);
    }
  }
  &.active {
    span::before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid #000000;
      border-radius: 50%;
    }
  }
}

.button {
}
